<form>
  <div class="col-sm-9" style="margin-left: 150px;">
    <h1>Enregistrement d'une section</h1>
    <div class="container">
      <div class="col-xs-14 col-12 col-md-4 form-group">
        <input class="form-control form-control-lg" type="text" placeholder="Status" [(ngModel)]="section.status" name="status">
      </div>
      <div class="col-xs-14 col-12 col-md-4 form-group">
      <select class="form-control form-control-lg" [(ngModel)]="section.fichename" [ngModelOptions]="{standalone: true}">
        <option *ngFor="let fiche of fiches">{{fiche.libelle}}</option>
      </select>
    </div>
    <button type="submit" class="btn btn-success" (click)="saveSection()"> Submit</button>

    </div>

  </div>
</form>
