<form>
  <div class="col-sm-9" style="margin-left: 150px;">


    <h1>Enregistrement d'un utilisateur</h1>
<div class="container">
      <div class="col-xs-14 col-12 col-md-4 form-group">
        <input class="form-control form-control-lg" type="text" placeholder="Type your fisrt name" [(ngModel)]="user.name" name="name">
      </div>
      <div class="col-xs-14 col-12 col-md-4 form-group">
        <input class="form-control form-control-lg" type="text" placeholder="Type your last name" [(ngModel)]="user.prenom" name="prenom">
      </div>
    </div>
      <div class="container">
      <div class="col-xs-14 col-12 col-md-4 form-group">
        <input class="form-control form-control-lg" type="text" placeholder="Type your adresse name" [(ngModel)]="user.adresse" name="adresse">
      <button type="submit" class="btn btn-success" (click)="onSubmit()"> Submit</button>
    </div>
    </div>

  </div>
</form>
